@namespace MudBlazor
@using MudBlazor.Utilities

<li>
    @if (Parent?.ItemTemplate is null)
    {
        <div>
            @if (Item.Disabled)
            {
                <p class="mb-0">
                    @if (Item?.Icon != null)
                    {
                        <MudIcon Icon="@Item?.Icon" Size="Size.Small" />
                    }
                    <b><u>@Item?.Text</u></b>
                </p>
            }
            else
            {
                <a href="@(Item?.Href ?? "#")">
                    @if (Item?.Icon != null)
                    {
                        <MudIcon Icon="@Item?.Icon" Size="Size.Small" />
                    }
                    @Item?.Text
                </a>
                @if (Item.SubItems is not null)
                {
                    <MudIconButton Class="ml-2 py-0" Icon=@subItemsArrow Size="Size.Small" OnClick="@(() => showSubItems())" />
                }
            }
        </div>
        if (@Item.SubItems is not null)
        {
            <MudPopover AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Open=subItemsVisible Class="p-2">
                @foreach (BreadcrumbItem item in Item.SubItems)
                {
                    if (item.Disabled)
                    {
                        <p class="mb-2">
                            @if (item?.Icon != null)
                            {
                                <MudIcon Icon="@item?.Icon" Size="Size.Small" />
                            }
                            <b><u>@item?.Text</u></b>
                        </p>
                    }
                    else
                    {
                        <div class="mb-2">
                            <a href="@(item?.Href ?? "#")">
                                @if (item?.Icon != null)
                                {
                                    <MudIcon Icon="@item?.Icon" Size="Size.Small" />
                                }
                                @item?.Text
                            </a>
                        </div>
                    }
                }
            </MudPopover>
        }
    }
    else
    {
        @Parent?.ItemTemplate(Item);
    }
</li>
